<nav class="navbar">
    <div class="logo">
        <h1>D  R  O  P</h1>
    </div>
    <div class="box">
        <div class="box-left">
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        
    </div>
</nav>