<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title> DROP | About</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aperiam impedit cupiditate autem dolor, aut ipsam. Debitis cumque reiciendis qui sapiente magnam optio ipsam. Consequatur, dolore atque iste corporis blanditiis iure. Error neque ullam id, quo quisquam laboriosam laborum dignissimos rerum obcaecati molestiae impedit fuga, ea cumque nobis vitae harum architecto consequuntur distinctio quibusdam suscipit necessitatibus quia. Soluta itaque enim delectus officia nihil sequi, explicabo rerum illum, tenetur ad optio eaque repellat expedita ullam! Illum minus, cupiditate, in repudiandae neque amet vitae expedita veritatis facilis quod dolorum recusandae vero minima earum, adipisci ab odio illo placeat sequi ipsa laborum. Necessitatibus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aperiam impedit cupiditate autem dolor, aut ipsam. Debitis cumque reiciendis qui sapiente magnam optio ipsam. Consequatur, dolore atque iste corporis blanditiis iure. Error neque ullam id, quo quisquam laboriosam laborum dignissimos rerum obcaecati molestiae impedit fuga, ea cumque nobis vitae harum architecto consequuntur distinctio quibusdam suscipit necessitatibus quia. Soluta itaque enim delectus officia nihil sequi, explicabo rerum illum, tenetur ad optio eaque repellat expedita ullam! Illum minus, cupiditate, in repudiandae neque amet vitae expedita veritatis facilis quod dolorum recusandae vero minima earum, adipisci ab odio illo placeat sequi ipsa laborum. Necessitatibus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aperiam impedit cupiditate autem dolor, aut ipsam. Debitis cumque reiciendis qui sapiente magnam optio ipsam. Consequatur, dolore atque iste corporis blanditiis iure. Error neque ullam id, quo quisquam laboriosam laborum dignissimos rerum obcaecati molestiae impedit fuga, ea cumque nobis vitae harum architecto consequuntur distinctio quibusdam suscipit necessitatibus quia. Soluta itaque enim delectus officia nihil sequi, explicabo rerum illum, tenetur ad optio eaque repellat expedita ullam! Illum minus, cupiditate, in repudiandae neque amet vitae expedita veritatis facilis quod dolorum recusandae vero minima earum, adipisci ab odio illo placeat sequi ipsa laborum. Necessitatibus!</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>